<div class="wrapper" style="margin-bottom: 200px">
  <table class="kalashnikov centerTable" align="center">
    <tr *ngFor="let row of doubleArray">
      <td *ngFor="let item of row" [ngClass]="item.clazz ? item.clazz : ''" (mouseenter)="hoverIn(item)" (mouseleave)="hoverOut(item)" [innerHtml]="item.value" (click)="selectCurrent(item)" style="padding: 5px;"></td>
    </tr>
  </table>

  <button md-raised-button (click)="status()">Статус в консоль</button>
  <br /><br />
  <button md-raised-button (click)="add()">Добавить крюк</button>
  <button md-raised-button (click)="save()">Сохранить</button>
</div>

<div class="footer">
  <md-card>
    <div class="kalashnikov" [innerHtml]="current.value"></div>
    <span style="font-size:2em">0</span>
    <md-input-container style="width: 25%;">
      <input mdInput placeholder="значение" [(ngModel)]="current.value">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Самая высокая нота" [(ngModel)]="current.pitch">
    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="Кол-во звуков" [(ngModel)]="current.sounds">
    </md-input-container>
    <md-input-container style="width: 30%;">
      <input mdInput placeholder="Название" [(ngModel)]="current.name">
    </md-input-container>
    <button (click)="info()">info</button>
    <br />
    <span *ngFor="let entry of current.opts; let j = index">
        <!-- <md-checkbox type="checkbox" *ngIf="j>0" [(ngModel)]="current.opts[j]">{{opts[j-1].label}}</md-checkbox> -->
        <md-checkbox [(ngModel)]="current.opts[j]">{{opts[j].label}}</md-checkbox>
    </span>
  </md-card>
</div>
