<div class="wrapper" style="margin-bottom: 200px">
  <table class="kalashnikov centerTable" align="center">
    <tr *ngFor="let row of doubleArray">
      <td *ngFor="let item of row" [ngClass]="item.clazz ? item.clazz : ''" (mouseenter)="hoverIn(item)" (mouseleave)="hoverOut(item)" [innerHtml]="item.value" (click)="selectCurrent(item)" style="padding: 5px;"></td>
    </tr>
  </table>

  <button md-raised-button (click)="status()">Статус в консоль</button>
  <br /><br />
  <button md-raised-button (click)="add()">Добавить крюк</button>
  <button md-raised-button (click)="save()">Сохранить</button>
</div>

<div class="footer">
  <md-card>
    <div class="kalashnikov" [innerHtml]="current.value"></div>
    <span style="font-size:2em">0</span>
    <md-input-container style="width: 25%;">
      <input mdInput placeholder="значение" [(ngModel)]="current.value">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Самая высокая нота" [(ngModel)]="current.pitch">
    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="Кол-во звуков" [(ngModel)]="current.sounds">
    </md-input-container>
    <md-input-container style="width: 30%;">
      <input mdInput placeholder="Название" [(ngModel)]="current.name">
    </md-input-container>
    <button (click)="info()">info</button>
    <br />
    <md-checkbox [(ngModel)]="current.opts[0]">{{opts[0].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[1]">{{opts[1].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[2]">{{opts[2].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[3]">{{opts[3].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[4]">{{opts[4].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[5]">{{opts[5].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[6]">{{opts[6].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[7]">{{opts[7].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[8]">{{opts[8].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[9]">{{opts[9].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[10]">{{opts[10].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[11]">{{opts[11].label}}</md-checkbox>
    <md-checkbox [(ngModel)]="current.opts[12]">{{opts[12].label}}</md-checkbox>
  </md-card>
</div>
